export(decrypt)
export(null_dist)
export(null_lm)
export(resid_rotate)
export(resid_pboot)
export(resid_boot)
export(null_permute)
export(rorschach)
export(lineup)
importFrom(plyr, rbind.fill)
importFrom(ggplot2, last_plot)
